[project]
	description = Repository that houses all the source code for my Senior Capstone project
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Nishant Mohanchandra (Nishant-MC)
[access "refs/for/refs/*"]
	read = group user/Nishant Mohanchandra (Nishant-MC)
	push = group user/Nishant Mohanchandra (Nishant-MC)
	label-Code-Review = -2..+2 group user/Nishant Mohanchandra (Nishant-MC)
	label-Verified = -1..+1 group user/Nishant Mohanchandra (Nishant-MC)
	rebase = group user/Nishant Mohanchandra (Nishant-MC)
	removeReviewer = group user/Nishant Mohanchandra (Nishant-MC)
	submit = group user/Nishant Mohanchandra (Nishant-MC)
[access "refs/heads/*"]
	read = group user/Nishant Mohanchandra (Nishant-MC)
	create = group user/Nishant Mohanchandra (Nishant-MC)
	push = +force group user/Nishant Mohanchandra (Nishant-MC)
	pushMerge = group user/Nishant Mohanchandra (Nishant-MC)
[access "refs/tags/*"]
	push = +force group user/Nishant Mohanchandra (Nishant-MC)
	pushTag = group user/Nishant Mohanchandra (Nishant-MC)
	pushSignedTag = group user/Nishant Mohanchandra (Nishant-MC)
